#.env file

# Snowflake Account (e.g. YOUR-ORG-1)
SNOWFLAKE_ACCOUNT = "XXXXXX-XXX"

# Snowflake Username (e.g. your email)
SNOWFLAKE_USER = "XXXXX@NHS.NET"

# Snowflake Role (Code requires at least ENGINEER) ##IF THIS IS TRUE THIS WONT WORK
SNOWFLAKE_ROLE = "XXXXX"

# Snowflake Warehouse (e.g., NCL_ANALYTICS_XS)
SNOWFLAKE_WAREHOUSE = "XXXXX"

# Raw Data file path
RAW_DATA = "C:\Users\XXXX\Code\qof_indicators_etl\data"